body {
  
}

.maincontainer {
    
    position: absolute;
    width: 250px;
    height: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    


}

.thecard{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

}

.thecard:hover {
    transform: rotateY(180deg);
}


.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
    text-align: center;
    border-radius: 20px;
    font-weight: 400;
}

.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #5fcf80;
    color: #fff;
    transform: rotateY(180deg);
    text-align: center;
    border-radius: 20px;
    font-weight:400;
}

