* {
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100px auto 50px;
    grid-template-areas: 
    'header header'
    'main side'
    'footer footer'
    ;

  }

header {
    grid-area: header;
    background: yellow;
}

section {
    grid-area : main;
    background: green;
}

aside {
    grid-area : side;
    background: red;
}
footer {
    grid-area : footer;
    background: blue;
}