#modal__background{
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index:4;
    display: none;

}

#modal__background_wrap {
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    z-index: 10;
    display: none;
}

#charge_close {
    width: 30px;
    height: 30px;
    position: relative;
    right: 26px;

}


.footer_modal_wrap {


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #fff;
    align-items: center;
    max-width: 860px;
    min-width: 600px;
    padding: 24px;
    z-index: 10px; 
    border-radius: 3%;
}

.motal_title {
    font-size: 30px;
    color:#181818;
    font-weight: 600;
    line-height: 1.4;

}


.modal_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 30px;
}



.modal_content_box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 300px;
    overflow: auto;
    padding: 2px;
    overflow-x: hidden;
    margin-top: 40px;
}


.charge {
    border: 1px solid #ccc;
    width: 100%;

}

table {
    width: 100%;
    border-collapse: collapse;
}


.charge table th {
    background: #FF7D08;
    color:#fff;
    font-weight: 400;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}
.charge table td {
    border: 1px solid #ccc;
}
.charge table th, .charge table td {
    padding :10px;
    vertical-align: middle;
    line-height: 1.4em;
    text-align: center;
}

.rotate_animation_img{
 
    cursor: pointer;
    /* -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; */

   animation : rotate_img 0.2s linear;
   animation-fill-mode: 1;


}

.reverse_animation_img{
    cursor: pointer;
    /* -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; */

   animation : reverse_img 0.2s linear;
   animation-fill-mode: 1;


}
@keyframes reverse_img{
    100%{
        transform: rotate(-180deg);
    }
}


@keyframes rotate_img{
    100%{
        transform: rotate(180deg);
    }
}
